:root{
    --black-100: #37352F;
    --black-50: #878682;
    --black-30: #BDBDBD;
    --black-20: #E6E6E6;
    --black-10: #F0F0F0;

    --transparent-black-10: rgb(240, 240, 240, 80%);

    --white: #FFFFFF;
    --blue: #028ECB;
    

    --shadow-black: rgb(189, 189, 189, 10%);
    --shadow-primary: rgb(255, 193, 7, 70%);

    --primary-color: #FFC107;
    --primary-color-dark: #FFA000;
    --primary-color-light: #FFECB3;

    --error: #F44336;
    --warning: #FF9800;
    --info: #00BCD4;

    --font-size-calc: calc(15px + 0.390625vw);

    --xl: 1.6rem;
    --lg: 1.3rem;
    --md: 1rem;
    --sm: 0.8rem;
}

*{
    font-family: sans-serif, Arial, Helvetica;
    box-sizing: border-box;
}

html{
    font-size: var(--font-size-calc);
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    font-size: var(--xl);
}

h2, 
h3{
    font-size: var(--lg);
}

p, 
li, 
span{
    font-size: var(--md);
}

p{
    margin: .3rem 0;
}

strong{
    color: var(--primary-color)
}

ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

.alert{
    padding: 0 1rem;
    min-height: 3rem;
    border-radius: 4px;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: var(--md);
    align-self: center;
    align-items: center;
}
.bg-warning.alert::before{
    font-family: "Font Awesome 6 Free";
    content: '\f06a';
    margin-right: 1rem;
}

.bg-warning{
    color: var(--white);
    background-color: var(--warning);
}


/* header */
header{
    padding: .2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--transparent-black-10);
    border-bottom: 1px solid var(--primary-color-dark);
    position: sticky;
    top: 0;
    z-index: 2;
}
header h1{
    margin: 0;
}
header a{
    outline: none;
}
header h1 a{
    color: var(--black-50);
}
header i{
    color: var(--black-100);
}
header a:hover,
header a:focus,
header a:hover i,
header a:focus i{
    color: var(--primary-color);
}

/* nav */
#nav-mobile{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    background-color: var(--black-100);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition-duration: 400ms;
    transition-property: opacity, visibility, position;
}
#nav-desktop{
    display: none;
}

#nav-mobile h3,
#nav-mobile h2,
#nav-mobile li{
    color: var(--black-10)
}

#nav-mobile h3{
    margin-bottom: .3rem;
}
#nav-mobile p{
    color: var(--black-30);
    margin: 0;
}

#nav-mobile ul{
    width: 100%;
    flex: 1;
    position: relative;
}
#nav-mobile a{
    width: 6.25rem;
    height: 6.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black-50);
    box-shadow: 0 0 0 4px var(--shadow-black);
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-10);
    z-index: 1;
    transition-duration: 400ms;
    transition-property: width, height, transform, width, height, box-shadow, opacity, visibility, color;
    outline: none;
}
#nav-mobile a:hover,
#nav-mobile a:focus{
    color: var(--primary-color);
    box-shadow: 0 0 0 4px var(--shadow-primary);
}
#nav-mobile li:first-of-type a{
    z-index: 2;
    transition: all 300ms;
}
#nav-mobile #menu:target li a{
    opacity: 100%;
    visibility: visible;
}
#close-menu{
    opacity: 0%;
    visibility: hidden;
    transition-property: width, height, box-shadow, opacity, visibility, color;
}
#close-menu i{
    color: var(--black-10);
}
#menu:target #close-menu{
    transform: scale(50%) translate(-50%, -50%);
    transform-origin: top left;
    opacity: 100%;
    visibility: visible;
}
#menu #close-menu:target i,
#menu #close-menu:focus i{
    color: var(--primary-color);
}
#nav-mobile #menu:target li:first-of-type a:first-of-type{
    opacity: 0%;
    visibility: hidden;
}
#nav-mobile #menu:target li:nth-of-type(2) a{
    transform: translate(-50%, -150%)
}
#nav-mobile #menu:target li:nth-of-type(3) a{
    transform: translate(50%, -80%);
}
#nav-mobile #menu:target li:nth-of-type(4) a{
    transform: translate(10%, 30%);
}
#nav-mobile #menu:target li:nth-of-type(5) a{
    transform: translate(-110%, 30%);
}
#nav-mobile #menu:target li:nth-of-type(6) a{
    transform: translate(-150%, -80%);
}

/* main */
main{
    flex: 1;
    overflow: hidden;
    margin-bottom: 1rem;
}
main h2,
main h3,
main p{
    color: var(--black-100);
}
main h2,
main h3{
    align-self: center;
    border-bottom: 1px solid var(--black-30);
}
main ul{
    margin: 0;
}
/* sections */
section{
    width: 0;
    height: 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition-duration: 800ms;
    transition-property: left, top, transform, opacity, visiblitity;
}
section:target{
    visibility: visible;
    width: 100%;
    height: initial;
    opacity: 100%;
}
section h2,
section h3{
    text-align: center;
    color: var(--primary-color-dark);
}
section>div{
    display: flex;
    flex-direction: column;
}
/* about me */
#aboutme ul{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#aboutme li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem .5rem;
}
#aboutme ul li i::before{
    font-size: 32px;
}
#aboutme ul li span{
    margin-top: .3rem;
    font-size: var(--sm);
    color: var(--black-30);
}

/* habilities */
.fa-php{
    color: #7377AD;
}
.fa-laravel{
    color: #F72C1F;
}
.icon-mysql{
    color: #005e86;
}
.fa-html5{
    color: #f25320;
}
.fa-css3-alt{
    color: #1f8ee7;
}
.fa-square-js{
    color: #ead41c;
}
.fa-git-alt{
    color: #e94e31;
}
.fa-docker{
    color: #2392e6;
}
.fa-sass{
    color: #cf649a;
}
.fa-wordpress{
    color: #23282d;
}

/* timeline */
.timeline{
    width: 100%;
    padding: 2rem 0;
    border-left: 3px solid var(--primary-color-dark);
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.timeline .year{
    font-size: var(--sm);
    padding: .5rem 1.5rem;
    background-color: var(--primary-color-dark);
    color: var(--black-10);
    display: inline-block;
    font-weight: bold;
}
.timeline .card{
    position: relative;
    padding: 1rem;
    margin-left: 1rem;
    border-left: 3px solid var(--primary-color-dark);
    border-radius: 4px;
    background-color: var(--black-10);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}
.timeline .card.open-modal{
    cursor: pointer;
}
.timeline .card::before{
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px solid var(--primary-color-dark);
    left: -50%;
    top: 1rem;
    z-index: -1;
}
.timeline .date{
    color: var(--black-10);
    font-weight: bold;
    font-size: var(--sm);
    background-color: var(--black-30);
    padding: .3rem 1rem;
    border-radius: 4px;
    margin-bottom: .3rem;
}
.timeline .title{
    width: 100%;
    margin: 0;
    font-size: var(--md);
    color: var(--primary-color);
}
.timeline .company{
    font-size: var(--sm);
    color: var(--black-30);
}
.timeline .description{
    margin: 0;
    font-size: var(--sm);
    color: var(--black-100);
}
.timeline .habilities{
    display: flex;
    align-self: flex-end;
    gap: .5rem;
    flex-wrap: wrap;
    margin-right: 1rem;
}
.timeline .hability{
    font-size: var(--md);
    position: relative;
}
.timeline .hability span{
    color: var(--black-50);
    font-size: var(--sm);
}
.timeline .hability .name{
    position: absolute;
    bottom: -120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color-dark);
    padding: .2rem .4rem;
    color: var(--black-10);
    border-radius: 4px;
    font-weight: bold;
    font-size: var(--sm);
    transition-duration: 400ms;
    transition-property: opacity, visibility;
    z-index: 1;
}
.timeline .hability .name::before{
    content: '';
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    background-color: var(--primary-color-dark);
    position: absolute;
    left: calc(50% - 3px);
    top: -3px;
    z-index: -1;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    background-color: var(--black-30);
    border-top: 1px solid var(--primary-color-dark);
    padding: .5rem 0 .3rem 0;
}
footer ul{
    display: flex;
    justify-content: center;
    margin: 0 0 .5rem;
}
footer li{
    margin: 0 .5rem;
}
footer i{
    font-size: 24px;
    color: var(--blue);
}
footer a{
    outline: none;
}
footer a:hover i,
footer a:focus i{
    color: var(--primary-color);
}
footer span{
    font-size: var(--sm);
    color: var(--black-50);
    text-align: center;
}

/* modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--transparent-black-10);
    z-index: 2;
    display: flex;
    transition-duration: 400ms;
    transition-property: opacity, visibility;
    padding: 1rem 0;
    overflow-y: auto;
}
.modal .container{
    min-width: 100px;
    min-height: 100px;
    margin: auto;
    background-color: var(--black-10);
    border-radius: 4px;
    box-shadow: 0 0 4px var(--black-50);
    padding: .5rem 1rem;
    max-width: calc(100% - (2rem));
    position: relative;
}

.modal .close{
    position: absolute;
    top: .3rem;
    right: .3rem;
    font-weight: bold;
    color: var(--black-50);
    border: none;
    outline: none;
    font-size: var(--md);
    cursor: pointer;
}

.modal .close:focus,
.modal .close:hover{
    color: var(--primary-color-dark);
}
.modal .body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.modal .body p{
    font-size: var(--sm);
    color: var(--black-100);
}
.modal .title,
.modal .subtitle{
    margin: 0;
}
.modal .title{
    font-size: var(--lg);
    color: var(--primary-color-dark);
}
.modal .subtitle{
    font-size: var(--md);
    color: var(--primary-color);
    margin-bottom: .5rem;
}
.modal .company{
    font-size: var(--sm);
    color: var(--black-50);
    font-weight: bold;
}
.modal .list{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.modal .list .title{
    font-size: var(--sm);
    font-weight: bold;
    color: var(--black-100);
}
.modal .list .title::before{
    content: '>';
    margin-right: .2rem;
    color: var(--primary-color);
}
.modal .list p{
    margin-left: .3rem;
}